---
import LogoIcon from "./icon/logo-icon.astro";
---

<a
  href="/"
  class="h-5 text-base flex justify-center items-center space-x-1.5 text-black dark:text-white font-semibold"
>
 
  <LogoIcon class="w-10 h-10 -translate-y-1" />
  <!-- Logo Text -->
  <span class=""> Mathieu Thiry</span>
</a>
